{% extends "base.html" %}
{% block content %}

            
<!-- blog.html is a GET request -->
        {% if blog_list|length == 0 %}
        <p>No post yet</p>

        <!--{% if blog_list == blogs.id %} -->



        {% else %}

                {% for blogs in blog_list %}
                 <li>
                        <a href="/blog?id={{blogs.id}}" >
                        <h1>{{blogs.title}}</h1
                        ></a> 
                        {{blogs.body}} 
                </li>
          
                {% endfor %} 
        {% endif %}  
{% endblock %}