{% extends "base.html" %}
{% block content %}

           <h1>Build-a-Blog</h1> 
<!-- blog.html is a GET request -->
        {% if blog_list|length == 0 %}
        <p>No post yet</p>

        {% else %}

    
                <div class="blogEntry">

                {% for blog in blog_list %}

        
                <h2><a href="/blog?id={{blog.id}}" >{{blog.title}}</a></h2>
                        </br>
                <p> {{blog.body}} </p> 
                <p>written by <a href="/blog?user={{blog.owner_id}}">{{blog.owner.username}}</a></p>
             </div>      
                
      
          
        {% endfor %} 
         
        {% endif %}  
{% endblock %}